# Ignorar carpeta videos
videos/


# Pero NO ignorar texts/171.txt
!texts/171.txt

# No subir la data 
#data/ ->> debería ser de esta forma, pero el dag necesita acceder a data/

# No subir logs ni archivos temporales, ni runs
__pycache__/
entrega_2/airflow/logs/
entrega_2/airflow/logs/
entrega_2/airflow/airflow-webserver.pid
entrega_2/airflow/airflow.db*
