# Ignorar carpeta videos
videos/

# Ignorar todos los archivos .txt
*.txt

# Pero NO ignorar texts/171.txt
!texts/171.txt


# macOS
.DS_Store

# Airflow artifacts
entrega_2/airflow/artifacts/
entrega_2/airflow/mlruns/

# Data
entrega_2/airflow/data/batches/
entrega_2/airflow/data/processed/

# Parquet files (no subir datos)
*.parquet

# Predictions
entrega_2/airflow/artifacts/predictions/*.csv

# Ignorar carpeta videos (si existe)
videos/


# Ignorar archivos pesados de Airflow en entrega_2
entrega_2/airflow/airflow.db
entrega_2/airflow/logs/
entrega_2/airflow/artifacts/
entrega_2/airflow/mlruns/

# Ignorar caches y compilados
entrega_2/airflow/dags/__pycache__/
entrega_2/airflow/src/__pycache__/
entrega_2/app/backend/src/__pycache__/

# Ignorar basura de macOS
.DS_Store
